---
// Experience section
import ExperienceRow from './ExperienceRow';
---

<section class="max-w-xl mx-auto mt-14 px-4 font-sans">
  <p class="text-2xl font-bold text-white/90 mb-4">Experience</p>
  <ExperienceRow />
</section>
